@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px 16px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

.content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.header, 
.footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 0 16px;
}

.footer {
  background-color: #eeeeee;
}

.header .left-links, 
.header .right-links,
.footer .left-links,
.footer .right-links {
  display: flex;
  flex: 1 0 auto;
  gap: 16px;
  list-style: none;
  padding: 0;
}

.header .left-links,
.footer .left-links {
  justify-content: flex-start;
}

.header .right-links,
.footer .right-links {
  justify-content: flex-end;
}

a {
  color: rgb(97, 95, 95);
  text-decoration: none;
}